@charset "UTF-8";

/*NAV*/

article {
	width: 100%;
	min-width: 250px;
	max-width: 1650px;
}

nav {
	width: 75%;
	margin: 1.5em auto .5em auto;
}

h1 {
	font-family: 'Alegreya', serif;
	font-size: 4em;
	text-align: center;
	margin: 15px 0;
	color: #C39870;
}

h2 {
	width: 75%;
	margin: 15px auto;
	font-family: 'Alegreya', serif;
	font-size: 2.5em;
	text-align: center;
	color: #76AFE4;
}

h3 {
	width: 75%;
	margin: .5em auto;
	font-family: 'Alegreya', serif;
	font-size: 1.3em;
	font-weight: normal;
	text-align: center;
	line-height: 1.4;
}

/*SECTION*/

section {
	width: 75%;
	margin: 1em auto 4em auto;
}

.illust1  {
	width: 100%;
	margin-top: -2em;
	margin-bottom: 1em;
	position: relative;
	z-index: -1;
}

.illust1 img {
	width: 108%;
	margin-left: 0;
}

.illust2, .illust3, .illust5 {
	width: 100%;
	margin: .75em 0;
}

.illust2 img, .illust3 img {
	width: 105%;
}

.illust4 img {
	width: 115%;
	margin-left: -8%;
}

.illust5 img {
	width: 90%;
	margin-left: 5%;
}

.illust6 img {
	width: 90%;
	margin-left: 5%;
}

p {
	font-family: 'Alegreya', Times, Times New Romain, serif;
	font-size: 1.2em;
	line-height: 1.6;
	margin-bottom: .75em;
}

section p.first::first-letter {
	margin-left: 10%;
}

p.hide {
	display: none;
}

blockquote {
    width: 80%;
    margin: 1em auto;
    padding: .75em;
    background-color: #FCE090;
    border-radius: 10px;
    color: #151515;
    font-size: 1.3em;
    text-align: center;
    line-height: 1.25;
    border: medium dashed #000000;
}

/* MEDIA QUERIES */

/*320-450
450-600
600-768
769-900
901-1000
1001-1280*/


@media (min-width: 320px) and (max-width: 450px){
	nav {
		margin-bottom: 1em;
	}
	.illust2 img, .illust3 img {
		width: 80%;
	}
	.illust5 img {
		width: 70%;
		margin-left: 10%;
	}
}
@media (min-width: 451px) and (max-width: 600px){
	.illust1 {
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
	.illust1 img {
		width: 100%;
		margin-left: 0;
	}
	.illust2, .illust3, .illust5 {
		width: 80%;
		margin: 1.5em auto;
	}
	blockquote {
		width: 50%;
		margin: 1.5em auto;
	}
}
@media (min-width: 601px) and (max-width: 768px){
	h1 {
		font-size: 4.5em;
	}
	h2 {
		font-size: 3em;
	}
	h3 {
		font-size: 1.5em;
	}
	p {
		font-size: 1.25em;
	}
}
@media (min-width: 769px) and (max-width: 900px){
	header {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	blockquote {
		width: 40%;
	}
	.illust1 {
		width: 75%;
		margin-top: -2em;
		margin-left: auto;
		margin-right: auto;
	}
	.illust2, .illust3 {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
	.illust5 {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.illust6 {
		width: 60%;
		float: right;
	}
}
@media (min-width: 901px) and (max-width: 1000px){
	section {
		width: 80%;
		padding: 6em 8% 0 8%;
	}
	.illust1 {
		width: 45%;
		margin: -2.5em -3em 1em 1em;
		float: right;
	}
	.illust2 {
		width: 50%;
		margin: .5em 1em 1em -2em;
		float: left;
	}
	.illust3 {
		width: 45%;
		margin: -1em -3em -1em 1em;
		float: right;
	}
	.illust4 {
		width: 70%;
		margin: 1.5em auto;
	}
	.illust5 {
		width: 35%;
		margin: .5em 1em 1em -3em;
	}
	.bottom {
		float: none;
		margin: 2.5em auto 4em auto;
	}
	h3 {
		margin-bottom: 2em;
	}
	section p.first::first-letter {
		margin-left: 5%;
	}
	p.hide {
		display: block;
	}
	blockquote {
		width: 80%;
	}
	blockquote.pullquote2 {
		width: 80%;
		float: left;
		margin: .5em 1.5em .5em -1.5em;
	}
	blockquote.pullquote3 {
		width: 80%;
		margin-right: -14.5em;
		margin-top: -6.5em;
	}
}
@media (min-width: 1001px) and (max-width: 1280px){
	article {
		background-color: #DDC17B;
	}
	header {
		width: 35%;
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		max-width: 500px;
	}
	section {
	width: 50%;
	float: right;
	padding: 6em 8% 0 8%;
	background-color: white;
	margin: 0;
	border-left: medium dashed rgba(0,0,0,1.00);
	}
	.illust1 {
		z-index: 0;
	}
	h1 br.break {
		display: inline;
	}
	h2 {
		margin: .5em auto;
	}
	h3 {
		margin-top: 1em;
		line-height: 1.6;
	}
	section p.first::first-letter {
		margin-left: 0;
	}
	blockquote {
		width: 50%;
		margin: 1.5em -2em 1.5em 2em;
		float: none;
	}
	blockquote.pullquote3 {
		margin-right: -12.5em;
		margin-top: -12.5em;
	}
}
@media (min-width: 1281px){
	article {
		background-color: #F8F3EF;
	}
	header {
		width: 30%;
		background-color: transparent;
		position: fixed;
		top: 0;
		left: 0;
		max-width: 500px;
	}
	section {
		width: 50%;
		float: right;
		padding: 6em 8% 0 8%;
		background-color: white;
		margin: 0;
		border-left: medium dashed rgba(0,0,0,1.00);
	}
	.illust1 {
		z-index: 0;
	}
	h1 br.break {
		display: inline;
	}
	h2 {
		margin: .5em auto;
	}
	h3 {
		margin-top: 1em;
		line-height: 1.6;
	}
	section p.first::first-letter {
		margin-left: 0;
	}
	blockquote {
		width: 50%;
		margin: auto;
	}
	blockquote.pullquote3 {
		margin-right: -12.5em;
		margin-top: -12.5em;
	}
}