@charset "UTF-8";

nav ul {
	width: 100%;
}

nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 3em;
	margin-right: 10em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}

ul li:first-child{
	margin-left: 1.2em;
}

ul li:last-child{
	margin-right: 0;
}

nav a {
	color:white;
	font-weight: 400;
}

nav a:hover{
	color: lightgrey;
}

#leadphoto {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

section {
    width: 100%;
    max-width: 1500px;
    background-color: rgba(191,169,155,1.00);
}

section.one {
    height: 900px;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: 110%;
}

section.one img {
	width: 100%;
	height: 100%;
	max-height: 75em;
	overflow: hidden;
}

section.one .menu {
	position: absolute;
  	top: 30px;
  	left: 230px;
	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .topleft {
	position: absolute;
  	top: 250px;
  	left: 200px;
  	font-family: "Bitter", serif;
    font-weight: 500;
    font-size: 5em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .actor {
	position: absolute;
  	top: 420px;
  	left: 230px;
  	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 2.3em;
    line-height: 1em;
    color: white;
	text-align: center;
	font-style: italic;
}

section.two {
    height: 300px;
    background-repeat: no-repeat;
    background-size: 110%;
}

#bio {
	width: 100%;
	background-color: rgba(157,126,106,0.30);
}

#bio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 3em;
	color: white;
	padding: 4%;
}

#bio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1.25em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 5% 5% 5%;
	margin: auto;
}

#portfolio {
	width: 100%;
	max-height: 25em;
	background-color: #70798c;
}

#portfolio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 3em;
	color: white;
	padding: 4%;
}

#portfolio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1.25em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 5% 5% 5%;
	margin: auto;
}

#work img {
	width: 30%;
	margin: 2% 10% 4% 10%;
	float: left;
/*	transition: width 2s, height 4s ease-in-out;
*/}

#work p {
	width: 85%;
	line-height: 1.5em;
	font-size: 3em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: black;
	padding: 0 5% 2% 5%;
	margin: auto;
}

section.acting {
	width: 100%;
	max-height: 250em;
	background-color: #70798c;
	display: inline-block;
}

section.digitalwork {
	width: 100%;
	max-height: 250em;
	background-color: #70798c;
	display: inline-block;
}

#socials {
	background-color: #485675;
	padding: 5%;
}

#socials h1 {
	text-align: center;
  	font-family: "Bitter", serif;
	font-weight: 800;
	color: white;
	font-size: 3em;
	line-height: 2em;
}

#socials h4 {
	text-align: center;
	text-decoration: none;
  	font-family: "Bitter", serif;
	font-weight: 500;
	color: white;
	font-size: 1.5em;
	margin: 15px;
}

#socials h4 a {
	color: white;
	text-decoration: none;
}

figure {
 	display: inline-block;
 	flex-flow: column;
  	padding: 40px;
  	max-width: 400px;
  	margin: 0 10px 0 5px;
}

@media (min-width: 300px){
nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 0em;
	margin-right: 2em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
	
#bio {
	width: 100%;
	height: 230px;
	background-color: rgba(157,126,106,0.30);
	padding-bottom: 10px;
}
	
#bio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 1.5em;
	color: white;
	padding: 4%;
	letter-spacing: 0.8px;
}

#bio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 5% 5% 5%;
	margin: auto;
	letter-spacing: 0.8px;
}
	
	
#portfolio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 1.5em;
	color: white;
	padding: 4%;
	letter-spacing: 0.8px;
}

#portfolio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 5% 5% 5%;
	margin: auto;
}
	
section.one {
    height: 450px;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: 110%;
}

section.one img {
	width: 100%;
	height: 100%;
	max-height: 75em;
	overflow: hidden;
}
	
section.one .menu {
	position: absolute;
  	top: 10px;
  	left: 5px;
	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .topleft {
	position: absolute;
  	top: 100px;
  	left: 30px;
  	font-family: "Bitter", serif;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .actor {
	position: absolute;
  	top: 185px;
  	left: 40px;
  	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1em;
    color: white;
	text-align: center;
	font-style: italic;
}
	
#work img {
	width: 60%;
	margin: auto;
	padding-left: 130px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}
	
#work video {
	width: 100%;
	margin: auto;
	padding-left: 50px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}

/*#work img:hover {
	width: 75%;
	height: 75;
}*/

#work p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1.5em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: black;
	padding: 0 5% 2% 5%;
	margin: auto;
}
}

@media (min-width: 400px){
nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 0em;
	margin-right: 3.4em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
}
@media (min-width: 500px){

	h1{
		font-size: 2.81em;
		color: #282E2A;
		text-align: center;	
		}

	h2{
		font-size: 1em;
		color: #F1EDE8;
		line-height: 1.08em;
		text-align: center;
		}

	h3{
		font-size: 1em;
		color: #F1EDE8;
		text-align: center;
		padding-top: 6%;
		line-height: 1.3
		}

	h5{
		display: inline;
		font-size: 0.6875em;
		}

	p{
		font-size: 1.2em;
		color: #F1EDE8;
		line-height: 50px;
		text-align: center;
		}

nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 0em;
	margin-right: 2.2em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
	
#bio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 2em;
	color: white;
	padding: 4%;
	letter-spacing: 0.8px;
}

#bio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 5% 5% 5%;
	margin: auto;
	letter-spacing: 0.8px;
}
	
	
#portfolio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 2em;
	color: white;
	padding: 4%;
	letter-spacing: 0.8px;
}

#portfolio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 5% 5% 5%;
	margin: auto;
}
	
section.one {
    height: 500px;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: 110%;
}

section.one img {
	width: 100%;
	height: 100%;
	max-height: 75em;
	overflow: hidden;
}
	
section.one .menu {
	position: absolute;
  	top: 10px;
  	left: 30px;
	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .topleft {
	position: absolute;
  	top: 100px;
  	left: 30px;
  	font-family: "Bitter", serif;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .actor {
	position: absolute;
  	top: 185px;
  	left: 40px;
  	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1em;
    color: white;
	text-align: center;
	font-style: italic;
}
	
#work img {
	width: 60%;
	margin: auto;
	padding-left: 130px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}
	
#work video {
	width: 100%;
	margin: auto;
	padding-left: 50px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}

/*#work img:hover {
	width: 75%;
	height: 75;
}*/

#work p {
	width: 85%;
	line-height: 1.5em;
	font-size: 2em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: black;
	padding: 0 5% 2% 5%;
	margin: auto;
}
}

@media (min-width: 700px){
	
	h1{
		text-align: center;	
		font-size: 3em;
		}
	
	h2{
		font-size: 1.8em;
		color: #F1EDE8;
		line-height: 1.08em;
		text-align: center;
		}

	h3{
		font-size: 1em;
		color: #F1EDE8;
		text-align: center;
		padding-top: 6%;
		}
	
nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 3.2em;
	margin-right: 2.2em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
	
#bio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 2.5em;
	color: white;
	padding: 4%;
	letter-spacing: 0.8px;
}

#bio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1.4em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 7% 10% 7%;
	margin: auto;
	letter-spacing: 0.8px;
}
	
	
#portfolio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 2.5em;
	color: white;
	padding: 4%;
	letter-spacing: 0.8px;
}

#portfolio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1.5em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 5% 5% 5%;
	margin: auto;
}
	
section.one {
    height: 500px;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: 110%;
}

section.one img {
	width: 100%;
	height: 100%;
	max-height: 75em;
	overflow: hidden;
}
	
section.one .menu {
	position: absolute;
  	top: 10px;
  	left: 30px;
	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .topleft {
	position: absolute;
  	top: 100px;
  	left: 100px;
  	font-family: "Bitter", serif;
    font-weight: 500;
    font-size: 3em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .actor {
	position: absolute;
  	top: 200px;
  	left: 110px;
  	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1em;
    color: white;
	text-align: center;
	font-style: italic;
}
	
#work img {
	width: 60%;
	margin: auto;
	padding-left: 150px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}
	
#work video {
	width: 100%;
	margin: auto;
	padding-left: 150px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}

/*#work img:hover {
	width: 75%;
	height: 75;
}*/

#work p {
	width: 85%;
	line-height: 1.5em;
	font-size: 2em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: black;
	padding: 0 5% 2% 5%;
	margin: auto;
}	

}

@media (min-width: 800px){
		
nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 4em;
	margin-right: 4.2em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
}

@media (min-width: 900px){
	nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 4em;
	margin-right: 5em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
	
#bio {
	width: 100%;
	height: 400px;
	background-color: rgba(191,169,155,1.00);
}
	
	#bio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 3em;
	color: white;
	padding: 4%;
	letter-spacing: 0.8px;
}

#bio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1.8em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 7% 10% 7%;
	margin: auto;
	letter-spacing: 0.8px;
}
	
	
#portfolio h1 {
  	font-family: "Bitter", serif;
	font-weight: 800;
	font-size: 3em;
	color: white;
	padding: 4%;
	letter-spacing: 0.8px;
}

#portfolio p {
	width: 85%;
	line-height: 1.5em;
	font-size: 1.8em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: white;
	padding: 0 5% 5% 5%;
	margin: auto;
}
	
section.one {
    height: 700px;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: 110%;
	background-color: rgba(191,169,155,1.00);
}
	
	section.one img {
	width: 100%;
	height: 100%;
	max-height: 75em;
	overflow: hidden;
}
	
section.one .menu {
	position: absolute;
  	top: 10px;
  	left: 30px;
	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .topleft {
	position: absolute;
  	top: 100px;
  	left: 100px;
  	font-family: "Bitter", serif;
    font-weight: 500;
    font-size: 3em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .actor {
	position: absolute;
  	top: 200px;
  	left: 110px;
  	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1em;
    color: white;
	text-align: center;
	font-style: italic;
}
	
#work img {
	width: 60%;
	margin: auto;
	padding-left: 150px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}
	
#work video {
	width: 100%;
	margin: auto;
	padding-left: 150px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}

/*#work img:hover {
	width: 75%;
	height: 75;
}*/

#work p {
	width: 85%;
	line-height: 1.5em;
	font-size: 2em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: black;
	padding: 0 5% 2% 5%;
	margin: auto;
}	
	
}

@media (min-width: 1000px){
	nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 4em;
	margin-right: 7em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
	
section.one {
    height: 700px;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: 110%;
	background-color: rgba(191,169,155,1.00);
}
	
section.one img {
	width: 100%;
	height: 100%;
	max-height: 75em;
	overflow: hidden;
}
	
section.one .menu {
	position: absolute;
  	top: 10px;
  	left: 35px;
	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .topleft {
	position: absolute;
  	top: 140px;
  	left: 120px;
  	font-family: "Bitter", serif;
    font-weight: 500;
    font-size: 4em;
    line-height: 1em;
    color: white;
	text-align: center;
}

section.one .actor {
	position: absolute;
  	top: 275px;
  	left: 120px;
  	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1em;
    color: white;
	text-align: center;
	font-style: italic;
}
	
#work img {
	width: 35%;
	margin: auto;
	padding-left: 100px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}
	
#work video {
	width: 80%;
	margin: auto;
	padding-left: 100px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}

/*#work img:hover {
	width: 75%;
	height: 75;
}*/

#work p {
	width: 85%;
	line-height: 1.5em;
	font-size: 2.5em;
  	font-family: "Bitter", serif;
	font-weight: 400;
	color: black;
	padding: 0 5% 2% 5%;
	margin: auto;
}	
}

@media (min-width: 1100px){
	
	nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 4em;
	margin-right: 10em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
}
@media (min-width: 1200px){
section.one {
    height: 1000px;
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: 110%;
	background-color: rgba(191,169,155,1.00);
}
	
section.one img {
	width: 100%;
	height: 100%;
	max-height: 75em;
	overflow: hidden;
}

	
nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 4em;
	margin-right: 11.8em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
	
	work img {
	width: 35%;
	margin: auto;
	padding-left: 300px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}
	
#work video {
	width: 80%;
	margin: auto;
	padding-left: 150px;
	padding-bottom: 30px;
/*	transition: width 2s, height 4s ease-in-out;
*/}
}

@media (min-width: 1280px){

nav li {
	font-family: "Bitter", serif;
	font-size: .8em;
	display: inline-block;
	margin-left: 4em;
	margin-right: 13em;
	letter-spacing: 0.07em;
	line-height: 2.5em;
	color: white;
	text-transform: lowercase;	
}
	
section.one .menu {
	position: absolute;
  	top: 10px;
  	left: 60px;
	font-family: "Bitter", serif;
    font-weight: 300;
    font-size: 2em;
    line-height: 1em;
    color: white;
	text-align: center;
}
}