@charset "UTF-8";

/* COLORS USED, ETC
	
	Light Orange: #ED9729

	Dark Orange: #EF8428
	
	Yellow: #FED92B
	
	Type Size: .8em

*/

body {
	margin-top: 100px;
	font-family: 'Raleway', helvetica, arial, sans-serif;
}

#container {
	width: 600px;
	margin: 0 auto;
}

/* SPRITES */

header {
}

#idea {
	width: 150px;
	height: 150px;
	margin-right: 75px;
	background-image: url("../images/sprite-art.gif");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	overflow: hidden;
	float: left;
}

#idea:hover {
	background-position: 0px -150px;
}

#brain {
	width: 150px;
	height: 150px;
	margin-right: 75px;
	background-image: url("../images/sprite-art.gif");
	background-position: -150px 0px;
	background-repeat: no-repeat;
	overflow: hidden;	
	float: left;
}

#brain:hover {
	background-position: -150px -150px;
}

#books {
	width: 150px;
	height: 150px;
	background-image: url("../images/sprite-art.gif");
	background-position: -300px 0px;
	background-repeat: no-repeat;
	overflow: hidden;	
	transition: background-position .5s linear;
}

#books:hover {
	background-position: -300px -150px;
}

/* HORIZONTAL MENU */

nav {
	margin-top: 50px;
	height: 35px;
}

a {	
	font-size: .8em;
	text-decoration: none;
	color: white;
	line-height: 35px;
	display: block;
	width: 150px;
	float: left;
	text-align: center;
}


a.color {
	background-color: #2856EF;
}

a.color2 {
	background-color: #3842B2;
}

a:hover {
	background-color: black;
	color: #B789E8;
}
