@charset "UTF-8";

nav {
	width: 1000px;
	margin: 70px auto 0 auto;
}

body {
	background-color: beige;
}

#inspiration, #design, #more {
	width: 200px;
	margin-right: 50px;
	position: relative;
	float: left;
}

#projects {
	width: 200px;
	position: relative;
	float: left;
}

#title {
	font-family: 'Raleway', helvetica, arial, sans-serif;
	font-size: 4em;
	text-align: center;
	padding-top: 70px;
}

#heading {
	font-family: 'Raleway', helvetica, arial, sans-serif;
	font-size: 2em;
	text-align: center;
	padding-top: 10px;
}

/* IMAGES */

.inspiration-icon {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 50px;
	background-image: url("images/elements200.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	overflow: hidden;
}
.inspiration-icon:hover, #inspiration:hover .inspiration-icon {
    background-position: 0 0px;
}

.design-icon {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 50px;
	background-image: url("images/elements200.png");
	background-repeat: no-repeat;
	background-position: -200px 0;
	overflow: hidden;
}
.design-icon:hover, #design:hover .design-icon {
    background-position: -200px 0px;
}
.more-icon {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("images/elements200.png");
	background-repeat: no-repeat;
	background-position: -400px 0;
	overflow: hidden;
}
.more-icon:hover, #more:hover .more-icon {
    background-position: -400px 0px;
}
.projects-icon {
	width: 200px;
	height: 200px;
	float: left;
	background-image: url("images/elements200.png");
	background-repeat: no-repeat;
	background-position: -600px 0;
	overflow: hidden;
}
.projects-icon:hover, #projects:hover .projects-icon {
    background-position: -600px 0px;
}

/* DROPDROWN MENUS */

li a {
	display: block;
	width: 200px;
	margin-right: 10px;
	font-family: 'Raleway', helvetica, arial, sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #807673;
	text-transform: uppercase;
	line-height: 42px;
	border-bottom: 2px dotted #DCD2CD;
	letter-spacing: .05em;
	text-align: center;
}

a.inspiration {
	background-color: #4C9DD7;
	border-bottom: none;
	color: white;
}

a.design {
	background-color: #7BC244;
	border-bottom: none;
	color: white;
}

a.more {
	background-color: #F77C62;
	border-bottom: none;
	color: white;
}

a.projects {
	background-color: #FFC643;
	border-bottom: none;
	color: white;
}

a.inspiration:hover, a.design:hover, a.more:hover, a.projects:hover {
    background-color: black;
}

ul.submenuinsp {
	left: -8000em;
	max-height: 0;
	transition: max-height 1.5s ease;
	overflow: hidden;
	width: 200px;
	background-color: #4C9DD7;
	color: #FFFFFF;	
}

ul.submenudes {
    left: -8000em;
    max-height: 0;
    transition: max-height 1.5s ease;
    overflow: hidden;
	width: 200px;
	background-color: #7BC244;
	color: #FFFFFF;	
}

ul.submenumore {
    left: -8000em;
    max-height: 0;
    transition: max-height 1.5s ease;
    overflow: hidden;
	width: 200px;
	background-color: #F77C62;
}

ul.submenuproj {
    left: -8000em;
    max-height: 0;
    transition: max-height 1.5s ease;
    overflow: hidden;
	background-color: #FFC643;
}

.topmenu li:hover ul.submenuinsp, .topmenu li:hover ul.submenudes, .topmenu li:hover ul.submenumore, .topmenu li:hover ul.submenuproj {
    left: 0;
    max-height: 500px;
}

ul.submenuinsp li a:hover, ul.submenudes li a:hover, ul.submenumore li a:hover, ul.submenuproj li a:hover{
    color: white;
    background-color: #807673;
    border-bottom: 2px solid #807673;
}

li:hover a.inspiration, li:hover a.design, li:hover a.more, li:hover a.projects {
    background-color: black;
}