@charset "UTF-8";

/* GLOBAL STYLES */

#wrapper {
	width: 80%;
	margin: 5% auto 0 auto;
	background-color: black;
	padding: 2%;
	max-width: 1200px;
	min-width: 200px;
}

.box {
	width: 25%;
	float: left;
	line-height: 0;
}

img {
	width: 100%;
}

/* RESPONSIVE */

@media (max-width: 320px){
	#wrapper {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.box {
		width: 100%;
	}
}

@media (min-width: 321px) and (max-width: 500px){
	#wrapper {
		padding: 5%;
		background-color: #8cc63f;
	}
	.box {
		width: 50%;
	}
}
@media (min-width: 501px) and (max-width: 1000px){
	#wrapper {
		background-color: #019198;
	}
}
